.top-nav {
    display: flex;
    flex-direction: row;
    padding-left: 26px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 4;
}

.nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 955px;
    width: 100%;
    padding: 40px 140px 39px 40px;
}

.nav-link>li>a>p {
    position: relative;
}

.nav-link>li>a>p::after {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: scale(0);
    transition: 0.4s;
}

.nav-link>li>a:hover p::after {
    transform: scale(1);
}

.top-nav>h1{
    width: 220.56px;
    display: flex;
    flex-direction: column;
    gap: 6.5px;
}

.top-nav>h1>p {
    font-size: 11px;
    color: #006934;
}

.top-nav>h1>img {
    width: 100%;
}

.top-nav>div>img {
    width: 138px;
}