.magazine {
    padding-inline: 60px;
    position: relative;
}

.fence_left {
    width: 525px;
    z-index: 2;
    position: absolute;
    top: -230px;
    left: 0;
}

.fence_right {
    width: 525px;
    z-index: 2;
    position: absolute;
    top: -230px;
    right: 0;
}

.mark {
    width: 151.78px;
    z-index: 2;
    position: absolute;
    top: -230px;
    left: 673px;
}

.magazine>h2 {
    margin-top: 181px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.magazine>h2 div {
    width: 25px;
    border: 3px solid #000;
}

.magazine>h2>P {
    font-size: 50px;
    letter-spacing: 8px;
}

main>section:nth-of-type(2) {
    display: flex;
    gap: 44px;
    margin-bottom: 111px;
}

/* ------------------blog start------------------- */

/*** Blog_Group ***/

.blog_group {
    padding-inline: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog_item {
    width: 356px;
    margin-bottom: 50px;
}

.blog_img {
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}

.blog_img:hover img {
    transform: scale(1.1);
}

.blog_img img {
    width: 100%;
    z-index: 2;
    transition: 0.4s;
}

#shadow {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: -1;
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 1.333333333/1;
    background: linear-gradient(to bottom right, #A5C6F8 0%, #60E8B5 100%);
}

.blog_content {
    border-left: 1px solid #707070;
    height: 164px;
    padding-left: 15px;
}

.blog_item h3 {
    font-size: 12px;
    width: 151px;
    border: 1px solid #000;
    border-radius: 13px;
    padding-inline: 10px;
    padding-block: 4px;
    margin-bottom: 23px;
}

.blog_item figcaption {
    font-size: 16px;
    margin-bottom: 10px;
}

.blog_link {
    display: flex;
    gap: 20px;
}

.blog_link code {
    color: #60E8B5;
}

.blog_link>li>button {
    font-size: 12px;
    color: #9697AF;
}

.footer_line {
    width: 257px;
    height: 1px;
    background-color: #707070;
}

/* ------------------blog end------------------- */

/* ------------------News start------------------- */
.news>h3 {
    margin-bottom: 53px;
}

/* news_group */
.news_group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news_item>a {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    border-left: 1px solid #707070;
    border-bottom: 1px solid #707070;
}

.news_img {
    width: 156px;
}

#news_shadow {
    top: 10px;
    left: 10px;
    z-index: -1;
    width: 100%;
    aspect-ratio: 1.3333333/1;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #A5C6F8 0%, #60E8B5 100%);
}

img[alt="news"] {
    width: 100%;
    border-radius: 10px;
}

.news_content {
    display: flex;
    flex-direction: column;
}

.news_content h3 {
    font-size: 12px;
    width: 151px;
    border: 1px solid #000;
    border-radius: 13px;
    padding-inline: 10px;
    padding-block: 4px;
    margin-bottom: 23px;
}

.news_content>figcaption {
    margin-bottom: 14px;
}

.news_link {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.news_link>li code {
    color: #60E8B5;
}

.news_link>li>button {
    border: none;
    background-color: #fff;
    font-size: 12px;
    color: #9697AF;
}


/* ------------------News end------------------- */



/* ------------------List start------------------- */

.circle_group {
    width: 356px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.circle {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    background: var(--circle_color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.list>li>a {
    display: flex;
    gap: 24px;
    padding-bottom: 28px;
    border-bottom: 1px solid #707070;
}

.item_content {
    text-decoration: underline;
    width: calc(100% - 80px);
    padding-bottom: 40px;
}

/* ------------------List end------------------- */